@model IEnumerable<RestaurantManagement.Models.BookingViewModel>
@{
    Layout = null;

}
<!DOCTYPE html>

<html>
<head>
    <title>Archived orders</title>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <p>@User.Identity.Name</p>

        <form method="post" asp-controller="Account" asp-action="Logout">
            <h3>List of closed orders</h3>
            <input type="hidden" value="@ViewBag.Booking" name="id" />
            <table>
                <tr>
                    <td>First name</td>
                    <td>Second name</td>
                    <td>Phone number</td>

                    <td></td>
                </tr>



                @foreach (var guest in ViewBag.Guest)
                {
                    
                        <tr>

                            <td>@guest.FirstName</td>
                            <td>@guest.SecondName</td>
                            <td>@guest.PhoneNumber</td>


                        </tr>
                    }
                   
                

                @foreach (var user in ViewBag.User)
                {

                    <tr>

                        <td>@user.FirstName</td>
                        <td>@user.SecondName</td>
                        <td>@user.PhoneNumber</td>

                        
                    </tr>

                }

            </table>
            <input type="submit" value="Exit" />
        </form>
    }
    else
    {
        <a asp-controller="Account" asp-action="Login">Login</a>
        <a asp-controller="Account" asp-action="Register">Register</a>
    }


</body>
</html>