@model IEnumerable<RestaurantManagement.Models.GuestViewModel>
@{
    Layout = null;

}
<!DOCTYPE html>

<html>
<head>
    <title>Archived orders</title>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <p>@User.Identity.Name</p>

        <form method="post" asp-controller="Account" asp-action="Logout">
            <h3>List of archived orders</h3>
            <a href="~/Waiter/Archive">Archive</a>
            @*<input type="hidden" value="@ViewBag.Guest" name="GuestId" />*@
            <table>
                <tr>
                    <td>First name</td>
                    <td>Second name</td>
                    <td>Phone number</td>
                    <td>Meal name</td>
                    <td></td>
                </tr>



                @foreach (var guest in ViewBag.Guest)
                {

                    <tr>

                        <td>@guest.Guest.FirstName</td>
                        <td>@guest.Guest.SecondName</td>
                        <td>@guest.Guest.PhoneNumber</td>



                        @foreach (var item in guest.Booking_Meals)
                        {
                            <td>@item.Meal.MealName</td>
                        }



                       

                    </tr>


                }

                @foreach (var user in ViewBag.User)
                {

                    <tr>

                        <td>@user.User.FirstName</td>
                        <td>@user.User.SecondName</td>
                        <td>@user.User.PhoneNumber</td>
                        @foreach (var item in user.Booking_Meals)
                        {
                            <td>@item.Meal.MealName</td>
                        }
                    
                    </tr>

                }

            </table>

            <input type="submit" value="Exit" />
        </form>
    }
    else
    {
        <a asp-controller="Account" asp-action="Login">Login</a>
        <a asp-controller="Account" asp-action="Register">Register</a>
    }


</body>
</html>