@model IEnumerable<RestaurantManagement.Models.GuestViewModel>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <title>Archived orders</title>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <form method="post" asp-controller="Account" asp-action="Logout">
            <h3>List of archived orders</h3>
            <table class="table  table-bordered">
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Second name</th>
                        <th>Phone number</th>
                        <th>Reservation time</th>
                        <th>Close time</th>
                        <th>Bill</th>
                        <th>Archived Meals</th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var guest in ViewBag.Guest)
                    {

                        <tr>

                            <td>@guest.Guest.FirstName</td>
                            <td>@guest.Guest.SecondName</td>
                            <td>@guest.Guest.PhoneNumber</td>
                            <td>@guest.ReservationDate</td>
                            <td>@guest.CloseReservationDate</td>
                            <td>@guest.Bill</td>
                            <td><a href="~/Waiter/ArchivedMealsGuest/@guest.Id">Archived Meals</a></td>

                        </tr>

                    }

                    @foreach (var user in ViewBag.User)
                    {

                        <tr>

                            <td>@user.User.FirstName</td>
                            <td>@user.User.SecondName</td>
                            <td>@user.User.PhoneNumber</td>
                            <td>@user.ReservationDate</td>
                            <td>@user.CloseReservationDate</td>
                            <td>@user.Bill</td>
                            <td><a href="~/Waiter/ArchivedMealsUser/@user.Id">Archived Meals</a></td>

                        </tr>

                    }
                </tbody>
            </table>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
            <input type="submit" value="Exit" />
        </form>

    }
    else
    {
        <a asp-controller="Account" asp-action="Login">Login</a>
        <a asp-controller="Account" asp-action="Register">Register</a>
    }


</body>
</html>