@model RestaurantManagement.Models.GuestViewModel
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<!DOCTYPE html>

<html>
<head>
    <title>Booking page</title>
</head>
<body>
    <div>
        <h3>Booking Form</h3>
        <p>To book the table fill the fields below:</p>

        <form method="post">
            <input type="hidden" value="@ViewBag.TableId" name="TableId" />
            <div>
                <table class="table">
                    <tr>
                        <td>First Name:</td>
                        <td><input type="text" name="FirstName" required /> </td>

                    </tr>
                    <tr>
                        <td>Second Name:</td>
                        <td><input type="text" name="SecondName" required /></td>
                    </tr>
                    <tr>
                        <td>Phone Number:</td>
                        <td><input type="text" name="PhoneNumber" required /></td>
                    </tr>


                </table>
            </div>

            Choose date and time: <input class="form-control" asp-for="ReservationDate" asp-format="{0:yyyy-MM-ddTHH:mm} " />

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Table number</th>
                        <th>Capacity</th>
                        <th>Hall placing</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var table in ViewBag.Table)
                    {

        <tr>

            <td>@table.TableNumber</td>
            <td>@table.Capacity</td>
            <td>@table.HallPlacing</td>


        </tr>
}
                </tbody>
            </table>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Meal Name</td>
                        <td>Description</td>
                        <td>Category</td>
                        <td>Image</td>
                        <td>Price</td>
                        <td>Amount</td>
                        <td>Add to order</td>
                   
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in ViewBag.Meal)
                    {
        <tr>
            <td>
                @item.MealName
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.Category
            </td>
            <td>
                <a href="@("Images/" + item.ImagePath)">
                    <img src="@("~/Images/" + item.ImagePath)" asp-append-version="true" width="90" height="90" />
                </a>
            </td>
            <td>
                @item.UnitPrice
            </td>
            <td>
                <input type="number" min="1" max="20" value="1" name="amount" />
            </td>
            <td><input type="checkbox" name="MealId" value="@item.MealId"></td>
        </tr>}
                </tbody>
                <tr><td><input type="submit" value="Submit" /> </td><td></td></tr>
            </table>
        </form>
    </div>

</body>
</html>