@model RestaurantManagement.Models.UserViewModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Booking page</title>
</head>
<body>
    <div>
        <h3>Booking Form</h3>
        <form method="post">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Table number</th>
                        <th>Capacity</th>
                        <th>Hall placing</th>
                        <th>Discount in %</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var table in ViewBag.Table)
                    {

                        <tr>

                            <td>@table.TableNumber</td>
                            <td>@table.Capacity</td>
                            <td>@table.HallPlacing</td>
                            <td>@table.TableDiscount</td>

                        </tr>

                    }
                </tbody>
            </table>
            <input type="hidden" value="@ViewBag.TableId" name="TableId" />
            <input type="hidden" value="@ViewBag.TableDiscount" name="TableDiscount" />
            <table class="table  table-bordered">
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Second name</th>
                        <th>Phone number</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in ViewBag.User)
                    {

                        <tr>

                            <td>@user.FirstName</td>
                            <td>@user.SecondName</td>
                            <td>@user.PhoneNumber</td>


                        </tr>

                    }
                </tbody>
            </table>
            Choose date: <input class="form-control" asp-for="ReservationDate" asp-format="{0:yyyy-MM-ddTHH:mm} " />
            <table class="table">

                <thead>
                    <tr>
                        <td>Meal Name</td>
                        <td>Description</td>
                        <td>Image</td>
                        <td>Price</td>
                        <td>Amount</td>
                        <td>Add to order</td>
                      
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Meal)
                    {
                    <tr>
                        <td>
                            @item.MealName
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            <a >
                                <img src="@("~/Images/"+item.ImagePath)" asp-append-version="true" width="90" height="90" />
                            </a>
                        </td>
                        <td>
                            @item.UnitPrice  
                        </td>
                        <td>
                            <input type="number" min="1" value="1" max="20" name="amount" />
                        </td>
                        <td><input type="checkbox" name="MealId" value="@item.MealId"></td>
                    </tr>

                    }
                </tbody>
                <tr><td><input type="submit" value="Submit" /> </td><td></td></tr>
            </table>
        </form>

    </div>
</body>
</html>