@model IEnumerable<RestaurantManagement.Models.TableViewModel>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <title>Table Bookings</title>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {

        <form method="post" asp-controller="Account" asp-action="Logout">
            <h3 class="lead">List of tables</h3>
            @if (ViewBag.Tables.Count == 0)
            {
                <a>No tables avaliable</a>
            }
            else
            {
                <table class="table  table-bordered">
                    <thead>
                        <tr>
                            <th>Table Number</th>
                            <th>Capacity</th>
                            <th>Hall Placing</th>
                            <th>Booking price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var table in ViewBag.Tables)
                        {

                            <tr>

                                <td>@table.TableNumber</td>
                                <td>@table.Capacity</td>
                                <td>@table.HallPlacing</td>
                                <td>@table.TablePrice</td>
                                <td><a href="~/Booking/ToBookAutorized/@table.TableId">To Book</a></td>
                            </tr>

                        }
                    </tbody>
                </table>}
            <input type="submit" value="Exit" />
        </form>

    }
    else
    {

        <h3 class="lead">List of tables</h3>
        @if (ViewBag.Tables.Count == 0)
        {
            <a>No tables avaliable</a>
        }
        else
        {
            <table class="table  table-bordered">
                <thead>
                    <tr>
                        <th>Table Number</th>
                        <th>Capacity</th>
                        <th>Hall Placing</th>
                        <th>Booking price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var table in ViewBag.Tables)
                    {

                        <tr>

                            <td>@table.TableNumber</td>
                            <td>@table.Capacity</td>
                            <td>@table.HallPlacing</td>
                            <td>@table.TablePrice</td>
                            <td><a href="~/Booking/ToBook/@table.TableId">To Book</a></td>
                        </tr>

                    }
                </tbody>
            </table>}
    }


</body>
</html>


